[submodule "extern/infra"]
	path = extern/infra
	url = git@github.com:sotah-inc/infra.git
[submodule "extern/steamwheedle-cartel-run-gateway"]
	path = extern/steamwheedle-cartel-run-gateway
	url = git@github.com:sotah-inc/steamwheedle-cartel-run-gateway.git
[submodule "extern/steamwheedle-cartel-run-download-auctions"]
	path = extern/steamwheedle-cartel-run-download-auctions
	url = git@github.com:sotah-inc/steamwheedle-cartel-run-download-auctions.git
[submodule "extern/steamwheedle-cartel-run-cleanup-manifests"]
	path = extern/steamwheedle-cartel-run-cleanup-manifests
	url = git@github.com:sotah-inc/steamwheedle-cartel-run-cleanup-manifests.git
[submodule "extern/steamwheedle-cartel-run-cleanup-auctions"]
	path = extern/steamwheedle-cartel-run-cleanup-auctions
	url = git@github.com:sotah-inc/steamwheedle-cartel-run-cleanup-auctions.git
[submodule "extern/steamwheedle-cartel-run-compute-live-auctions"]
	path = extern/steamwheedle-cartel-run-compute-live-auctions
	url = git@github.com:sotah-inc/steamwheedle-cartel-run-compute-live-auctions.git
[submodule "extern/steamwheedle-cartel-run-sync-items"]
	path = extern/steamwheedle-cartel-run-sync-items
	url = git@github.com:sotah-inc/steamwheedle-cartel-run-sync-items.git
[submodule "extern/steamwheedle-cartel-run-sync-item-icons"]
	path = extern/steamwheedle-cartel-run-sync-item-icons
	url = git@github.com:sotah-inc/steamwheedle-cartel-run-sync-item-icons.git
[submodule "extern/steamwheedle-cartel-run-compute-pricelist-histories"]
	path = extern/steamwheedle-cartel-run-compute-pricelist-histories
	url = git@github.com:sotah-inc/steamwheedle-cartel-run-compute-pricelist-histories.git
[submodule "extern/steamwheedle-cartel-run-cleanup-pricelist-histories"]
	path = extern/steamwheedle-cartel-run-cleanup-pricelist-histories
	url = git@github.com:sotah-inc/steamwheedle-cartel-run-cleanup-pricelist-histories.git
[submodule "extern/steamwheedle-cartel-run-workload"]
	path = extern/steamwheedle-cartel-run-workload
	url = git@github.com:sotah-inc/steamwheedle-cartel-run-workload.git
[submodule "extern/steamwheedle-cartel-fn-gateway"]
	path = extern/steamwheedle-cartel-fn-gateway
	url = git@github.com:sotah-inc/steamwheedle-cartel-fn-gateway.git
[submodule "extern/bilgewater-cartel"]
	path = extern/bilgewater-cartel
	url = git@github.com:sotah-inc/bilgewater-cartel.git
[submodule "extern/bilgewater-cartel-telegraf"]
	path = extern/bilgewater-cartel-telegraf
	url = git@github.com:sotah-inc/bilgewater-cartel-telegraf.git
[submodule "extern/bilgewater-cartel-transit"]
	path = extern/bilgewater-cartel-transit
	url = git@github.com:sotah-inc/bilgewater-cartel-transit.git
[submodule "extern/steamwheedle-cartel-server"]
	path = extern/steamwheedle-cartel-server
	url = ssh://adrian@sotah.info@source.developers.google.com:2022/p/sotah-prod/r/steamwheedle-cartel-server
